@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Star Ratings ( http://codepen.io/jamesbarnett/pen/vlpkh )
------------------------------------------------- */

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #000000;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #555555;  }


/* http://stackoverflow.com/questions/18963881/bootstrap-3-panel-header-with-buttons-wrong-position
---------------------------------------
.panel-heading.contains-buttons {
    .clearfix;
    .panel-title {
        .pull-left;
        padding-top:5px;
    }
    .btn {
        .pull-right;
    }
}*/

/* Own additions
-------------------------------------------------*/
hr.listing-cell-divider {
    margin-bottom: 5px;
    margin-top: 20px;
}


.add-remove-field {
    .border-radius(0) !important;
    margin-bottom:20px;
}

.add-remove-input {
    width: 75%;
    display: inline-block;
}

.truncate {
  width: 250px !important
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*.stacking-context {*/
    /*position: static;; z-index:1;*/
/*}*/

/*.selectpicker {*/
    /*position: static;*/
    /*z-index:5000;*/
/*}*/

/* Copied from openlibrary.org */
/*.illustration img {max-width:180px!important;}*/
/*#contentOnethird .illustration img, .workCover .illustration img {max-width:270px!important;}*/
/*.illustration .SRPCoverBlank {position:relative;width:148px;height:225px;padding:15px;text-align:center;background:#dedede;font-size:1.0em;display:none;}*/
/*.workCover .illustration .SRPCoverBlank {margin:0 auto;}*/
/*.illustration .SRPCoverBlank .innerBorder {border:2px solid #fff;width:144px;height:221px;}*/
/*.illustration .SRPCoverBlank.author {position:relative;width:131px;height:180px;text-align:center;background:transparent url("/images/icons/avatar_author-lg.png") 15px 15px no-repeat;font-size:1.0em;margin:0 auto;display:none;}*/
/*.illustration .BookTitle {position:absolute;top:50%;left:50%;width:108px;margin-left:-54px;height:100px;margin-top:-50px;color:#333;}*/
/*.illustration .author .BookTitle {position:absolute;top:50%;left:50%;width:108px;margin-left:-54px;height:80px;margin-top:-40px;color:#000;display:none;}*/
/*.illustration .Author {color:#666;font-style:italic;padding:4px 4px 0;font-size:11px;}*/
/*.illustration .edition {font-size:0.6875em;font-family:"Lucida Grande",Verdana,Geneva,Helvetica,sans-serif;margin:10px auto;}*/
/*.illustration .SRPCoverBlank {position:relative;width:148px;height:225px;padding:15px;text-align:center;background:#dedede;font-size:1.0em;display:none;}*/
/*.workCover .illustration .SRPCoverBlank {margin:0 auto;}*/
/*.illustration .SRPCoverBlank .innerBorder {border:2px solid #fff;width:144px;height:221px;}*/
/*.illustration .SRPCoverBlank.author {position:relative;width:131px;height:180px;text-align:center;font-size:1.0em;margin:0 auto;display:none;}*/
/*.formBackRight .illustration .SRPCoverBlank {width:90px;height:150px;font-size:0.75em;}*/
/*.formBackRight .illustration .SRPCoverBlank .innerBorder {border:1px solid #fff;width:88px;height:148px;}*/

/*div.books .SRPCover {float:left;height:115px;vertical-align:middle;}*/
/*div.books .SRPCover img {height:115px;}*/
/*div.books .SRPCoverBlank {position:relative;width:74px;height:105px;padding:5px;*/
/*text-align:center;float:left;font-size:0.6875em;cursor:pointer;display:none;background-color:#dedede;}*/
/*div.books .SRPCoverBlank .innerBorder {border:1px solid #fff;width:72px;height:103px;}*/