{% import 'book_helpers.html' as helpers with context %}

{% set page_title = 'Book Info: ' + book_info.title %}
{% set active_page = 'books_index' %}
{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block body %}

    <div class="container-fluid">
    <img src="{{ url_for('static', filename='images/blank_cover_100-88.png') }}" class="pull-left"/><h1 class="page-header">{{ book_info.title }}</h1>
    <form action="{{ url_for('edit_book', bid=book_id) }}?next={{next}}" method="POST" class="form-signin" role="form">
    <ul class="list-group">
        <li class="list-group-item"><h4>ID: {{ book_info.core_id }}</h4> </li>
        <li class="list-group-item"><h4>Title: </h4>
        <label for="inputBookTitle" class="sr-only">Book Title</label>
        <input type="text" name="inputBookTitle" id="inputBookTitle" class="form-control" placeholder="Book Title" value="{{ book_info.title }}" required autofocus>
        </li>
        <li class="list-group-item"><h4>Authors:</h4>

            <input type="hidden" name="author_count" class="add-remove-field-count" value="{%if book_info.author_count %}{{book_info.author_count }}{% else %}1{% endif %}" />
            {% for author in book_info.authors %}
                <div class="add-remove-field">


                <!--<label for="inputBookAuthor{{ loop.index }}" class="sr-only">Book Title</label>-->
                <input autocomplete="off" data-id="inputBookAuthor" data-placeholder="Author name" class="input form-control add-remove-input" id="inputBookAuthor{{ loop.index }}" name="inputBookAuthor{{ loop.index }}" type="text" placeholder="Author name" value="{{ author }}"/>
                {% if loop.index == book_info.author_count %}
                <button id="b{{loop.index}}" class="btn add-more" type="button">+</button>
                {% else %}
                <button id="b{{loop.index}}" class="btn btn-danger remove-me" type="button">-</button>

                {% endif %}
            </div>
            {% endfor %}

        </li>
        <li class="list-group-item"><h4>Tags:</h4>

            <input type="hidden" name="subject_count" class="add-remove-field-count" value="{%if book_info.subjects_count %}{{book_info.subjects_count }}{% else %}1{% endif %}" />
            {% for subject in book_info.subjects %}
                <div class="add-remove-field">


                <!--<label for="inputBookAuthor{{ loop.index }}" class="sr-only">Book Title</label>-->
                <input autocomplete="off" data-placeholder="Subject" data-id="inputBookSubject" class="input form-control add-remove-input" id="inputBookSubject{{ loop.index }}" name="inputBookSubject{{ loop.index }}" type="text" placeholder="Subject" value="{{ subject }}"/>
                {% if loop.index == book_info.subjects_count %}
                <button id="b{{loop.index}}" class="btn add-more" type="button">+</button>
                {% else %}
                <button id="b{{loop.index}}" class="btn btn-danger remove-me" type="button">-</button>

                {% endif %}
            </div>
            {% endfor %}

        </li>

        <li class="list-group-item"><h4>Tags:
            {% for subject in book_info.subjects %}
            <span class="label label-default">{{ subject }}</span>&nbsp;
            {% endfor %}
        </h4></li>
    </ul>
    <hr />
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
          <a href="{{ url_for('edit_book',bid=book_info.core_id) }}" class="btn btn-lg btn-default btn-block" type="submit">Edit Book</a>
          <a href="{{next}}" class="btn btn-lg btn-warning btn-block">Back</a>
      </div>
    </div>
    </form>
    </div>



{% endblock %}

{% block footer_scripts %}
<script type="text/javascript">
$(window).load(function() {
//    var author_next = {%if book_info.author_count %} {{ book_info.author_count }} {% else %} 1 {% endif %};
    $(document).on("click", '.add-more', function () {
        next = $(this).parent().parent().find('.add-remove-field-count').val();
//        e.preventDefault();
        console.log($("#b"+next));
        var addto = $(this).parent();//('.add-remove-field');
        var addRemove = $(this).closest('.add-remove-input');
//        var fieldNum = this.id.charAt(this.id.length - 1);
        console.log($(this).siblings('.add-remove-input').data('id'));
        $(this).parent().children('.btn').html("-");
        $(this).parent().children('.btn').removeClass('add-more')
        $(this).parent().children('.btn').addClass('btn-danger remove-me');
        $(this).parent().children('.btn').addClass('remove-me');
        var newIDPrefix = $(this).siblings('.add-remove-input').data('id');
        var newPlaceholder = $(this).siblings('.add-remove-input').data('placeholder');
        next = Number(next) + 1;
//        var newIn = '<input autocomplete="off" class="input form-control" id="field' + next + '" name="field' + next + '" type="text">';
        var newDiv = '<div class="add-remove-field"></div>';
        var div = $(newDiv)
        var newIn = '<input autocomplete="off" class="input form-control add-remove-input" data-placeholder="'+newPlaceholder+'" data-id="'+newIDPrefix+'"id="'+newIDPrefix+next+'" name="'+newIDPrefix+next+'" type="text" placeholder="'+newPlaceholder+'" value=""/>'
        var newInput = $(newIn);
        var newBtn = '<button id="b'+next+'" class="btn add-more" type="button">+</button>';
        var addButton = $(newBtn);
        $(addto).after(div);
        $(div).append(newInput)
        $(div).append(addButton);
//        $(".add-remove-field" + next).attr('data-source', $(addto).attr('data-source'));
        $(this).parent().parent().find('.add-remove-field-count').val(next);



    });

    $(document).on("click", '.remove-me', function () {
//            e.preventDefault();
//            var fieldNum = this.id.charAt(this.id.length - 1);
//            console.log($(this).siblings(":last").attr('id') == $(this).attr('id'))
            if ($(this).siblings(":last").attr('id') == $(this).attr('id')) {
                $(this).prev(".btn").removeClass('remove-me');
                $(this).prev(".btn").removeClass('remove-me');
                $(this).prev(".btn").addClass('add-more');
                $(this).prev(".btn").html("+");
            }
//            var fieldID = "#b"+fieldNum;
        console.log($(this).siblings('.add-remove-input'));
        var curTotal = $(this).parent().parent().find('.add-remove-field-count').val();
        $(this).parent().parent().find('.add-remove-field-count').val(curTotal-1);
        $(this).parent().remove();
            $(this).remove();


        });
});
</script>
{% endblock %}