{% import 'book_helpers.html' as helpers with context %}

{# layout.html settings #}
{% set active_page = 'books_index' %}
{% extends "layout.html" %}
{% block head %}

{% endblock %}
{% block body %}
<br>
<div class="panel panel-default">
  <!-- Default panel contents -->
  {% block books_body %}{% endblock %}
  <div class="panel-heading">
  {% if sort_options|length > 1 %}
    <button id="sorting_toggle_btn" type="button" class="btn btn-default pull-right" aria-label="Left Align">
      <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Sorting
    </button>
  {% endif %}
    <h4>{{page_title}}</h4>
  </div>
    <div id="table_sorting_options" class="well">

    {% for sort_display,sort_attribute in sort_options.iteritems() %}
        {{ helpers.sort_button(request.path, sort_display, sort_attribute) }}
    {% endfor %}
    {% if sorting %}
        <div class="btn-group">
          <a href="{{request.path}}" type="button" class="btn btn-warning"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Disable Sorting</a>
        </div>
    {% endif %}
    </div>
    {{ navigation.paginator(request.path,'pull-right',parameters) }}
    <!-- Table -->
    {% block books_table %}{% endblock %}
    {{ navigation.paginator(request.path, 'pull-left', parameters) }}
</div>

            <div class="modal fade" id="pleaseWaitDialog" role="dialog" data-backdrop="static" data-keyboard="false">
                  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 id="pleaseWaitDialogHeading">Processing...</h1>
        </div>
        <div class="modal-body">
            <div class="progress progress-striped active">
                <div class="progress-bar" role="progressbar" style="width: 100%;"></div>
            </div>
        </div>
    </div>
                        </div>
</div>

<!-- Shelf Modal -->
<div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="bookModalBookTitle">Modal title</h4>
      </div>

      <div class="modal-body" id="bookModalBody">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="bookModalSubmit">Save changes</button>
      </div>

    </div>
  </div>
</div>
<!-- /Shelf Modal -->


<div id="shelfForm" class="hidden">
             <form action="{{ url_for('add_reading_log') }}?next={{ request.path }}" method="POST" role="form" id="bookModalFormShelf">
                 <input type="hidden" name="book_id" id="book_id_shelf"/>
            <div class="form-group">
                <div class='input-group date' id='starting_date'>
                    <input type='text' name="starting_date" class="form-control" placeholder="Starting Date" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class='input-group date' id='completed_date'>
                    <input type='text' name="date_completed" class="form-control" placeholder="Completed Date" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <p class="help-block">Please enter your log entry below!</p>
            <label for="log_input" class="sr-only">Reading Log</label>
            <textarea name="log_input" id="log_input" class="form-control" rows="5" required autofocus></textarea>
         </form>
         <hr />
          <h4><a href="{{ url_for('user_dashboard') }}?section=logs#logs">Previous Logs</a></h4>
            <div id="shelfLogTableDiv" style="height:250px;overflow: auto;">
          <table class="table" id="shelfPreviousLogsTable">
              <thead>
              <tr>
              <th>Date Completed</th><th>Date Started</th><th>Log</th><th>Actions</th>
              </tr>
              </thead>
              <tbody>

              </tbody>
          </table>
        </div>
</div>

<div id="listForm" class="hidden">
<form action="{{ url_for('add_book_list') }}?next={{ request.path }}" method="POST" role="form" id="listModalForm">
<input type="hidden" name="book_id" id="list_book_id_list"/>


<h4>Add to New List</h4>
    <div class="input-group">
          <span class="input-group-addon">
            <input type="radio" name="listRadioGroup" id="newListRadio" value="new" checked>
          </span>
          <label for="newInputListName" class="sr-only">List Name</label>
          <input type="text" name="newInputListName" id="newInputListName" class="form-control" placeholder="List name" value="" required autofocus>
            <label for="newInputListDesc" class="sr-only">Book Description:</label>
            <textarea class="form-control" rows="5" name="newInputListDesc" id="newInputListDesc">Description</textarea>

        </div>
    <hr />
<h4>Add to Existing List</h4>
    <div class="input-group">
          <span class="input-group-addon">
            <input type="radio" name="listRadioGroup"  id="existingListRadio" value="existing">
          </span>
          <!--<label for="inputListName" class="sr-only">List Name</label>-->
        <div id="existingListNameDiv"><select class="selectpicker" name="inputListID" id="existingListName"></select></div>
        </div>

</form>


</div>
{% endblock %}


{% block footer_scripts %}
<script type="text/javascript">
$(window).load(function(){



    //https://github.com/silviomoreto/bootstrap-select
    $('.selectpicker').selectpicker();

    //http://eonasdan.github.io/bootstrap-datetimepicker
    $("#starting_date").datetimepicker({
        pickTime: false
    });
    $("#completed_date").datetimepicker({
        pickTime: false
    });

    {% if not sorting %}
        $('#table_sorting_options').toggleClass('hidden');
    {% else %}
        $('#sorting_toggle_btn').toggleClass('active');
    {% endif %}

    $('#sorting_toggle_btn').click(function(){
        $('#table_sorting_options').toggleClass('hidden');
        {% if not sorting %}
        $(this).toggleClass('active');
        {% endif %}
    });

    $('.rating-star').click(function(){
        var value = $(this).attr('value');
        var book_id = $(this).attr('book_id');

        $("#pleaseWaitDialog").modal('show')
        $(this).closest("form").submit();
    });


    $(".add_to_shelf").click(function () {
//        $("#starting_date").datetimepicker({
//            pickTime: false
//        });
//        $("#completed_date").datetimepicker({
//            pickTime: false
//        });
        var currentID = $(this).data('id');
        var currentTitle = $(this).data('title');
        $("#book_id_shelf").val( currentID );

        $("#bookModalBookTitle").html( currentTitle );
        $("#bookModalBody").html($("#shelfForm").html())
        //$.ajax() -- load logs?
        // As pointed out in comments,
        // it is superfluous to have to manually call the modal.
        // $('#addBookDialog').modal('show');
        $("#bookModalSubmit").click(function(){
            $("#bookModalFormShelf").submit();
        });


        // Can't resist a bit of ajax
        $.getJSON($SCRIPT_ROOT + '/log/_current_user/' + currentID, function(data) {
            newContent = '';
            if (!($.isEmptyObject(data))) {
                $.each(data, function(n, log) {
                    newContent += "<tr>";
                    newContent += "<td>" + log['date_completed'] + "</td>";
                    newContent += "<td>" + log['date_started'] + "</td>";
                    newContent += "<td>" + log['log_text'] + "</td>";
                    newContent += "<td>" + generateLogTableActions(data['log']) + "</td>"
                    newContent += "</tr>"
                });

            } else {
                newContent = "<td colspan='4'>None yet!</td>";
            }
            $("#shelfPreviousLogsTable tbody").html(newContent);
        });

    });

    $(".add_to_list").click(function() {
        var currentID = $(this).data('id');
        var currentTitle = $(this).data('title');
        $("#bookModalBookId").val( currentID );
        //console.log($(this));
        $("#bookModalBookTitle").html( currentTitle + ' - Add to List' );
        $("#bookModalBody").html($("#listForm").html())

//        $("#listModalForm"){{ url_for('add_book_list') }}?next={{ request.path }}
        $("#list_book_id_list").val(currentID);
        $("#bookModalSubmit").click(function(){
            $("#listModalForm").submit();
        });


        // Can't resist a bit of ajax
        $.getJSON($SCRIPT_ROOT + '/list/_current_user', function(data) {
            $('.selectpicker').selectpicker('destroy');
            $("#existingListNameDiv").html('<select class="selectpicker" name="inputListID" id="existingListName"></select>')


            if (!($.isEmptyObject(data))) {

                innerHtml = '';
                $.each(data, function(n, list) {
                    innerHtml += "<option value='"+list['list_id']+"'>"+list['list_name']+" ("+list['num_books']+")</option>";
                });

                $("#existingListName").html(innerHtml).selectpicker();

                $("#existingListRadio").attr("disabled",false);
            } else {
                $(".selectpicker").selectpicker('destroy')
                        .html('<option>No Lists Found</option>')
                        .prop('disabled',true)
                        .selectpicker();

                $("#existingListRadio").attr("disabled",true);
            }
        });
    });

});

function generateLogTableActions(log_id) {
    var logTableActions = '<div class="btn-group btn-group-xs" role="group" aria-label="Extra-small button group">';
    logTableActions += '<a type="button" class="btn btn-default" href="/log/'+log_id+'">View</a>';
    logTableActions += '<a type="button" class="btn btn-default" href="/log/edit/'+log_id+'">Edit</a>';
    logTableActions += '</div>';
    return logTableActions;
}
</script>
{% endblock %}
