{# Star rating macros #}
{% macro star_ratings(book_id, rating='') %}
<fieldset class="rating">
    {% for num in range(10,0,-1) %}
        {% set num = num / 2 %}
        {% if num % 1 %}
            {% set class = "half" %}
        {% else %}
            {% set class = "full" %}
        {% endif %}
        {% set is_selected = False %}
        {% if num == rating %}
            {% set is_selected = True %}
        {% endif %}
        <input type="radio" id="{{book_id}}_star{{num}}" name="rating" value="{{ num }}" {% if is_selected %}checked="checked"{% endif %}/>
        <label class="{{class}}" for="{{book_id}}_star{{num}}" title="{{ num }} stars"></label>
    {% endfor %}
</fieldset>
{% endmacro %}

{# layout.html settings #}
{% set page_title = 'Books' %}
{% set active_page = 'books_index' %}
{% extends "layout.html" %}
{% block head %}

{% endblock %}
{% block body %}
<br>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Books</div>
    {{ navigation.paginator('books_index','pull-right') }}
  <!-- Table -->
  <table class="table">
    <thead><tr>
        <th>Cover</th><th>Title</th><th>Author</th><th>Avg. Rating</th><th>Tags</th>
        {% if current_user.is_authenticated() %}
        <th>Actions</th>
        {% endif %}
    </tr></thead>
    <tbody>
    <tr>
        <td><img src="{{ url_for('static', filename='images/blank_cover_100-88.png') }}"</td>
        <td>Example Title</td>
        <td>Example Author</td>
        <td>
            <div style="vertical-align: middle;">{{ star_ratings(0,0) }} <span style="padding-top:15px;">(avg. 2.5)</span></div>
            <hr class="listing-cell-divider" />
            <div class="users-rating">Your rating: 4</div>
        </td>
        <td>
            <span class="label label-default">Tag 1</span>
            <span class="label label-default">Tag 2</span>
            <span class="label label-default">Tag 3</span>
        </td>
        {% if current_user.is_authenticated() %}
        <td>
            <div class="btn-group">
                  <button type="button" class="btn btn-primary">Add</button>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">To Shelf</a></li>
                    <li><a href="#">To List</a></li>
                    <li><a href="#">Review</a></li>
                    <li class="divider"></li>
                    <li><a href="#">View Lists Containing</a></li>
                  </ul>
                </div>
        </td>
        {% endif %}
    </tr>
    {% for book in books %}
    <tr>
        <td><img src="{{ url_for('static', filename='images/blank_cover_100-88.png') }}"</td>
        <td>{{ book.title.decode('utf-8') }}</td>
        <td>
	  {% for author in books.authors %}
	  {{ author.name }}
	  {% endfor %}
	</td>
        <td>{{ book.rating }}</td>
        <td>
            {% for tag in books.tags %}
            <span class="label label-default">{{ tag }}</span>&nbsp;
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

    {{ navigation.paginator('books_index') }}
</div>


{% endblock %}
