{% extends "books.html" %}
{% block books_body %}
  <!-- Table -->
  <table class="table">
    <thead><tr>
        <th>Subject</th><th>Avg. Rating</th><th># Pages</th><th># Books</th><th>Actions</th>
        {% if current_user.is_authenticated() %}

        {% endif %}
    </tr></thead>
    <tbody>
    {% for subject in books %}
    <tr>
        <td><a href="{{ url_for('display_book', bid=book.core_id)}}">{{subject.subject_name}}</a></td>
        <td><a href="{{ url_for('display_book', bid=book.core_id)}}">{{ book.title }}</a></td>
        <td>
	  {% for author in book.authors %}
	  <a href="{{url_for('display_author',author_name=author)}}">{{ author }}</a>
	  {% endfor %}
	</td>
        <td>
            {% if book.num_pages %}
                {{book.num_pages}}
            {% else %}
                Unknown
            {% endif %}
        </td>
        <td style="width:250px;">
            <div style="vertical-align: middle;">{{ helpers.star_ratings(book.core_id,url_for('books_index') ~ '?page=' ~ page,book.discrete_rating) }}
                {% if book.avg_rating %}
                    <span class="small">(avg. {{ book.avg_rating }})</span></div>
                {% endif %}
            <hr class="listing-cell-divider" />
            {% if book.user_rating %}<p class="text-muted"><a href="{{url_for('remove_book_rating', bid=book.core_id)}}" ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>Your rating: {{ book.user_rating }}</p> {% endif %}
        </td>
        <td>
            {% for subject in book.subjects %}
            <a href="{{url_for('books_by_subject',subject=subject)}}"><span class="label label-default">{{ subject }}</span></a>&nbsp;
            {% endfor %}
        </td>
        <td>
        {% if current_user.is_authenticated() %}


            <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Add<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('add_review', bid=book.core_id)}}?next={{ request.path }}">Review</a></li>
                    <li><a href="#" class="add_to_shelf" data-id="{{ book.core_id }}" data-title="{{ book.title }}" data-toggle="modal" data-target="#bookModal">Reading Log</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="add_to_list" data-id="{{ book.core_id }}" data-title="{{ book.title }}" data-toggle="modal" data-target="#bookModal">To List</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="add_to_list" data-id="{{ book.core_id }}" data-title="{{ book.title }}" data-toggle="modal" data-target="#bookModal">Book Details</a></li>
                  </ul>
                </div>
        {% endif %}
            <div class="btn-group">

                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    View<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">


                    <li><a href="{{ url_for('display_reviews_for_book',bid=book.core_id) }}">Reviews</a></li>
                    <li><a href="#">Lists</a></li>
                    <li class="divider"></li>
                    <li><a href="#">View Lists Containing</a></li>
                  </ul>
                </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

