{% set page_title = 'Books' %}
{% set active_page = 'books_index' %}
{% extends "layout.html" %}
{% block head %}

{% endblock %}
{% block body %}
<br>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Books</div>
    {{ render_paginator('books_index','pull-right') }}
  <!-- Table -->
  <table class="table">
    <thead><tr>
        <th>Cover</th><th>Title</th><th>Author</th><th>Avg. Rating</th><th>Tags</th>
    </tr></thead>
    <tbody>
    <tr>
        <td><img src="{{ url_for('static', filename='images/blank_cover_100-88.png') }}"</td>
        <td>Example Title</td>
        <td>Example Author</td>
        <td>5</td>
        <td>
            <span class="label label-default">Tag 1</span>
            <span class="label label-default">Tag 2</span>
            <span class="label label-default">Tag 3</span>
        </td>
    </tr>
    {% for book in books %}
    <tr>
        <td><img src="{{ url_for('static', filename='images/blank_cover_100-88.png') }}"</td>
        <td>{{ book.title.decode('utf-8') }}</td>
        <td>
	  {% for author in books.authors %}
	  {{ author.name }}
	  {% endfor %}
	</td>
        <td>{{ book.rating }}</td>
        <td>
            {% for tag in books.tags %}
            <span class="label label-default">{{ tag }}</span>&nbsp;
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

    {{ render_paginator('books_index') }}
</div>


{% endblock %}
