{% extends "books.html" %}
{% block books_table %}
  <!-- Table -->
  <table class="table">
    <thead><tr>
        <th>Author</th><th>Avg. Rating</th><th># Pages</th><th># Books</th><th>Actions</th>
        {% if current_user.is_authenticated() %}

        {% endif %}
    </tr></thead>
    <tbody>
    {% for author in data %}
    <tr>
        <td><a href="{{ url_for('display_author', author_name=author.name)}}">{{author.name}}</a></td>
        <td>{{author.avg_rating}}</td>
        <td>{{author.num_pages}}</td>
        <td>{{author.num_books}}</td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    View<span class="caret"></span>
                </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Lists</a></li>
                    <li class="divider"></li>
                    <li><a href="#">View Lists Containing</a></li>
                  </ul>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

