
{% set page_title = 'Dashboard' %}

{% extends "layout.html" %}
{% block head %}
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            {{navigation.menuitem('user_dashboard','Overview')}}
            {{navigation.menuitem('user_dashboard_following','Following')}}
            {{navigation.menuitem('user_dashboard_followers','Followers')}}
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="#logs">Reading Logs</a></li>
            <li><a href="">Reviews</a></li>
            <li><a href="">Lists</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  {% block dashboard_body %}{% endblock %}
          </div>
        </div>
      </div>


{% endblock %}
