{% set page_title = 'Home' %}
{% set active_page = 'home_index' %}
{% extends "layout.html" %}
{% block head %}

{% endblock %}
{% block body %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        {% if not current_user.is_authenticated() %}
        <h1>Welcome to RR G4's Booknet!</h1>
        <p>Hey you haven't logged in yet. What are you waiting for?</p>
        <div class="btn-group">
            <a class="btn btn-primary btn-lg" href="{{url_for('login_index')}}" role="button">Login</a>
            <a class="btn btn-primary btn-lg" href="{{url_for('register_index')}}" role="button">Register &raquo;</a>
        </div>
        {% else %}
        <h1>Welcome back {{ current_user.name }}!</h1>
        <p>Happy to see you again!</p>
        <div class="btn-group"><a class="btn btn-primary btn-lg" href="{{url_for('user_dashboard_following')}}" role="button">Feed</a><a class="btn btn-primary btn-lg" href="{{url_for('user_dashboard')}}" role="button">Dashboard &raquo;</a></div>
        {% endif %}

      </div>
    </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Book Spotlight</h2>
            {% for book in books %}
            <div class="media">
              <a class="media-left" href="{{url_for('display_book',bid=book.core_id)}}">
                <img src="{{ url_for('static', filename='images/blank_cover_100-88.png') }}" alt="...">
              </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="{{url_for('display_book',bid=book.core_id)}}">{{ book.title }}</a></h4>
                {{ book.description }}
              </div>
            </div>
          {% endfor %}
          <p><a class="btn btn-default" href="{{url_for('books_index')}}" role="button">View more &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Reviews</h2>
          {% for review in reviews%}
            <div class="media">
              <a class="media-left" href="#">
                <img src="{{ url_for('static', filename='images/blank_cover_100-88.png') }}" alt="...">
              </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="{{url_for('display_review',rid=review.review_id)}}">{{ review.book_title }}</a></h4>
                {{ review.review_text }}<br/>
                  <p class="text-muted">by: <a href="{{url_for('display_user_profile',uid=review.reviewer)}}">{{review.reviewer_name}}</a></p>
              </div>
            </div>
          {% endfor %}
          <p><a class="btn btn-default" href="{{url_for('reviews_index')}}" role="button">View more &raquo;</a></p>

       </div>
        <div class="col-md-4">
          <h2>Lists</h2>
          {% for list in lists%}
            <div class="media">
              <a class="media-left" href="#">

              </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="{{url_for('display_list',lid=list.id)}}">{{ list.list_name }}</a></h4>
                {{ list.description }}<br/>
                  <p class="text-muted">by: <a href="{{url_for('display_user_profile',uid=list.user_id)}}">{{list.creator}}</a></p>
              </div>
            </div>
          {% endfor %}
          <p><a class="btn btn-default" href="{{url_for('lists_index')}}" role="button">View more &raquo;</a></p>
        </div>
      </div>

{% endblock %}
