{% set page_title = 'Lists' %}
{% set active_page = 'lists_index' %}
{% extends "layout.html" %}
{% block head %}

{% endblock %}
{% block body %}
<br>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Lists</div>
  <!-- Table -->
    {{ navigation.paginator(url_for('lists_index'),'pull-right') }}
  <table class="table">
    <thead><tr>
        <th>Name</th><th style="width:450px;">Description</th><th>Creator</th><th># of Books</th><th style="width:125px;">Created On</th><th>Actions</th>
    </tr></thead>
    <tbody>
    {% for list in lists%}
    <tr>
        <td><a href="{{url_for('display_list',lid=list.id)}}">{{list.list_name}}</a></td>

        <td class="truncate">{{ list.description }}</td>
        <td>
	        <a href="{{url_for('display_user_profile',uid=list.user_id)}}">{{ list.creator }}</a>
	    </td>
        <td>{{ list.num_books}}</td>
        <td>{{ list.date_created }}</td>
        <td>
            <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Show<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">--</a></li>

                  <li class="divider"></li>


                  </ul>
                </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{{ navigation.paginator(url_for('lists_index'),'pull-left') }}
</div>


{% endblock %}
