{% set page_title = 'Login' %}
{% set active_page = 'login_index' %}
{% extends "layout.html" %}
{% block head %}
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container">

    {% for error in errors %}
        <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> {{ error }}
        </div>
    {% endfor %}

      <form action="{{ url_for('login_index') }}" method="post" class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="remeberLogin" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
           <hr />
        Not registered yet? <a href="{{ url_for('register_index') }}">Create an account here</a>
      </form>

    </div> <!-- /container -->

{% endblock %}
