<!-- from: http://stackoverflow.com/a/11665879/1431509 -->
{% macro menuitem(endpoint, display,  active='') %}
<li {% if request.endpoint == endpoint or active == endpoint %} class='active' {% endif %}>
    <a href="{{url_for(endpoint)}}">{{display}}</a>
</li>
{% endmacro %}

{% macro menudropdown(endpoint, display, active='') %}
<li {% if request.endpoint == endpoint or active == endpoint %} class="dropdown active" {% else %} class="dropdown" {% endif %}>
    <a href="{{url_for(endpoint)}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{display}}<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        {{ caller()}}
    </ul>
</li>
{% endmacro %}

{% macro paginator(endpoint, align='', parameters='', showCount=false) %}
    <div class="btn-group {{align}}">
    <nav>
      <ul class="pagination">
        {% if prevPage %}
            <li>
        {% else %}
            <li class="disabled">
        {% endif %}
            <a href="{{ url_for(endpoint) }}?page={{ prevPage }}{{parameters}}"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
        {% if totalPages > 15 %}
            {% if ((page > 6) and (page < totalPages - 5)) %}
                {{ paginator_range(endpoint,1,4,parameters) }}
                <li><span>...<span class="sr-only">(spacer)</span></span></li>
                {{ paginator_range(endpoint,page-2,page+2,parameters) }}
                <li><span>...<span class="sr-only">(spacer)</span></span></li>
                {{ paginator_range(endpoint,totalPages-3,totalPages,parameters) }}
            {% else %}
                {{ paginator_range(endpoint,1,7,parameters) }}
                <li><span>...<span class="sr-only">(spacer)</span></span></li>
                {{ paginator_range(endpoint,totalPages-6,totalPages,parameters) }}
            {% endif %}
        {% else %}
            {{ paginator_range(endpoint,1,totalPages,parameters) }}
        {% endif %}
        {% if nextPage %}
            <li>
        {% else %}
            <li class="disabled">
        {% endif %}
            <a href="{{ url_for(endpoint) }}?page={{ nextPage }}{{parameters}}"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>

      </ul>
    </nav>
    <!-- <div class="pull-right">Page {{ page }} of {{ totalPages }}<div class="pull-right"> -->
    </div>
{% endmacro %}

{% macro paginator_range(endpoint, start, end, parameters='') %}
{% for currentPage in range(start,end+1) %}
    <li {% if currentPage == page %} class='active' {% endif %}>
        <a href="{{ url_for(endpoint) }}?page={{ currentPage }}{{parameters}}">{{ currentPage }}</a>
    </li>
{% endfor %}
{% endmacro %}