{% set page_title = 'Profile' %}
{% set active_page = 'users_index' %}
{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block body %}

    <div class="container-fluid">

          <h1 class="page-header">{{ selected_user.name }}'s Profile</h1>

            <ul class="list-group">
              <li class="list-group-item"><h4>Name: {{ selected_user.name }}</h4> </li>
                <li class="list-group-item"><h4>Unique Books Placed In Lists:</h4></li>
                <li class="list-group-item"><h4>Books Read (unique):</h4></li>
                <li class="list-group-item"><h4>Books Read (total):</h4></li>
                <li class="list-group-item"><h4>Lists</h4>
                <div class="table-responsive">
                <table class="table table-striped">
                     <thead>
                      <tr>
                      <th>Name</th><th>Created On</th><th># of Books</th>
                      </tr>
                      </thead>
                      <tbody>

                      </tbody>
                    </table>
                  </div>


              </li>
              <li class="list-group-item"><h4>Reading Logs</h4>
                <div class="table-responsive">
                <table class="table table-striped">
                     <thead>
                      <tr>
                      <th>Book</th><th>Date Completed</th><th>Date Started</th><th>Logs</th>
                      </tr>
                      </thead>
                      <tbody>

                      </tbody>
                    </table>
                  </div>


              </li>
                <li class="list-group-item"><h4>Reading By Year</h4>
                <div class="table-responsive">
                <table class="table table-striped">
                     <thead>
                      <tr>
                      <th>Year</th><th>Books Read</th><th>Pages Read</th><th>Logs</th>
                      </tr>
                      </thead>
                      <tbody>

                      </tbody>
                    </table>
                  </div>

                  </li>
            </ul>


</div>



{% endblock %}
