{% import 'book_helpers.html' as helpers with context %}

{# layout.html settings #}
{% set page_title = 'Add Review' %}
{% set active_page = 'reviews_index' %}
{% extends "layout.html" %}
{% block head %}

{% endblock %}
{% block body %}
<br>

{% for error in errors %}
<div class="alert alert-danger" role="alert">
    <strong>Oh snap!</strong> {{ error }}
</div>
{% endfor %}

<div class="panel panel-default">
<!-- Default panel contents -->
    <div class="panel-heading">
        <h4><a href="{{url_for('display_book',bid=book_info.core_id)}}">{{ book_info.title }}</a> - Add Review</h4>
    </div>
    <ul class="list-group">
        <form action="{{ url_for('add_review', bid=book_info.core_id) }}?next={{next}}" method="POST" class="form-signin" role="form">
        <li class="list-group-item">{{ helpers.display_authors(book_info.authors) }}</li>
        <li class="list-group-item">Pages: {{ book_info.num_pages}}</li>
        <li class="list-group-item">
            <div>

                {{book_info.avg_rating}}{{ helpers.star_ratings_inputs(book_info.core_id,book_info.user_rating) }}
                <span class="small">(avg. {{ book_info.avg_rating }})</span> &nbsp;

            </div>

            <div class="clearfix">
                <a href="javascript:void(0);" class="remove-book-rating pull-left" >
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
                <hr />
                {% if book_info.user_rating %}
                <p class="small">
                    <input type="radio" id="remove_rating" name="remove_rating" value="remove_rating" class="hidden" aria-hidden="true"/>
                    <label  for="remove_rating" title="Remove rating"></label>
                    Your current rating: {{ book_info.user_rating }}
                </p>
                {% endif %}
            </div>

        </li>
        <li class="list-group-item">
            <p class="help-block">Please enter your review below!</p>
            <label for="review_input" class="sr-only">Review Text</label>
            <textarea name="review_input" id="review_input" class="form-control" rows="10" required autofocus></textarea>
        </li>
        <liclass="list-group-item">
            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit Review</button>
                <a href="{{next}}" class="btn btn-lg btn-warning btn-block">Back</a>
                </div>
            </div>
        </li>
        </form>
    </ul>
</div>
{% endblock %}


{% block footer_scripts %}
<script type="text/javascript">
$(window).load(function(){
    $('.rating-star').click(function(){
        var value = $(this).attr('value');
        var book_id = $(this).attr('book_id');
        console.debug("Rating clicked -- value: "+value+" -- book_id: "+book_id);
    });

    $('.remove-book-rating').click(function() {
        $('.rating-star').prop('checked', false);
        $('.remove_rating').prop('checked', false);
    });
});

</script>
{% endblock %}